.address-list {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-bottom: 60px;
        
    }
    @media screen and (min-width: 768px) and (max-width:   1199px) {
        width: 232px;
        text-align: center;
        margin-left: 76px;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        width: 231px;
        margin-right: 70px;
        margin-bottom: 0;
    }
}
.address-list__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.address-list__item {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}
.address-list__cont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.address {
    
    @media screen and (min-width: 768px) and (max-width:   1199px) {
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        
    }
}