.address-list {
    @media screen and (min-width: 480px) {
     margin-bottom: 60px;
        
    }
    
}
.address-list__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    &:hover, &:focus, &:active {
        color: $color-hover;
    }
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
.address-list__item {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}
.address-list__cont {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover, &:focus, &:active {
        color: $color-hover;
    }
@media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
} 
    