.client {
    @media screen and (min-width: 480px)  {
        padding: 60px 0;
         
     }
}
.client__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    @media screen and (min-width: 480px)  {
        margin-bottom: 30px;
         
     }
}
.client-list__icon {
    width: 106px;
    height: 60px;
    fill:#AFB1B8 ;
}
.client-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    @media screen and (min-width: 480px)  {
    width: 210px;
    height: 92px;
    
    }
    @media screen and (min-width: 480px)  {
    width: 210px;
    height: 92px;
    
    }
    &:hover, &:focus, &:active {
        border-color: $color-hover;
        .client-list__icon {
            fill: $color-hover;
        }
    }
}
.client-list {
    display: flex;
    @media screen and (min-width: 480px)  {
        flex-wrap: wrap;
         
     }
     @media screen and (max-width: 480px)  {
        flex-wrap: wrap;
         
     }
}
.client-list__item {

    @media screen and (min-width: 480px)  {
        max-width: 210px;
        margin-right: 30px;
        margin-bottom: 30px;
         &:nth-child(even) {
            margin-right: 0;
         }
         &:nth-last-child(-n + 2) {
            margin-bottom: 0;
         }
     }
     @media screen and (max-width: 480px)  {
        max-width: 210px;
        margin-right: 30px;
        margin-bottom: 30px;
         &:nth-child(even) {
            margin-right: 0;
         }
         &:nth-last-child(-n + 2) {
            margin-bottom: 0;
         }
     }
}