.feauture__title {
    display: none;
}
.feauture {
    padding: 60px 0;
}
.feauture-list__title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
@media screen and (min-width: 480px) {
    margin-bottom: 10px;
     
 }
}
.feauture-list__subtitle {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
@media screen and (min-width: 480px) {
    max-width: 450px;
     margin-bottom: 30px;
 }
}
.feauture-list__svg {
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
        max-width: 450px;
         
     }
}