.footer__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px; 
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
    &:hover, &:focus, &:active {
        color: $color-hover;
    }
    @media screen and (min-width: 480px)  {
        display: flex;
        justify-content: center;
        align-items: center;
         
     }
}
.footer__logo--text {
    color: $color-hover;
}