.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop .icon {
    width: 11px;
    height: 11px;
    
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    transform:  translate(-50%,-50%) scale(0.9) ;
  }
  .modal {
    
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-modal {
    display: flex;
    padding: 0;
    margin-top: 8px;
    margin-left: 490px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .btn-modal .icon {
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .btn-modal:hover .icon, .btn-modal:focus {
    fill: #2196f3;
  }
  .modal .title {
    
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 2px;
  color: #212121;
  }
  
  
    
  .form-group {
    margin-left: 41px;
    margin-right: 39px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    
  }
  
  .form-group .form-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 15px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .form-coment {
    margin-left: 41px;
    margin-right: 39px;
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .form-coment textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
  }
  .form-check {
  
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  /* margin-left: 52px; */
    color: #757575;
  }
  .form-check input[type='checkbox'] {
    width: 0;
    height: 0;
    
    
  }
  .form-check .linked {
    color: #2196f3;
    background-color: transparent;
    text-decoration: underline  ;
  }
  .form-check .linked:hover, .linked:focus {
    background-color: transparent;
  } 
  
  .check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
  }
  .label-check {
    display: flex;
    align-items: center;
  }
  .label-check .icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .check:checked + .icon {
    background-color: #2196f3;
    border-color: #2196f3;
    background-origin: border-box;
    background-image: url('../images/icon_check.svg');
    background-size: contain;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    color: #FFFFFF;
    border: 0;
    
    border-radius: 4px;
    padding: 10px 56px;
    margin-left:164px ;
    margin-right: 164px;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .form-label {
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  }
  textarea {
    resize: none;
  
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  .form-group .form-input {
    
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-input:focus {
    border: 1px solid #2196f3;
  }
  .form-input:focus ~ .form-icon {
   fill: #2196f3;
  
  }
  
  .form-text {
    padding: 16px 12px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-text:focus {
    border: 1px solid #2196f3;
  }