.examples-list__img {
    display: block;
    @media screen and (min-width: 480px) {
        width: 450px;
           
       }
}
.examples-list__item {
    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
           
       }
}
.examples-list__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}
.examples-list__paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
}
.examples-list__border {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}