.product-thumb {
    position: relative;
  overflow: hidden;
  
  &::before {
    content: '';
  
    position: absolute; 
    width: 370px;
    height: 294px;
    background-color:  rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.product-actions {
    top: 63px;
    left: 24px;
    width: 322px;
    display: flex;
    margin: 0;
    position: absolute;
    
}
.examples-list__item {
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover  {
        .product-thumb::before {
            transform: translateY(0); 
            opacity: 1;
        }
       
            }
    &:hover {
        .product-actions__paragraph {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.product-actions__paragraph {
    margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55; 
  max-width: 322px;
    max-height: 168px;
  color: #ffffff;
  display: flex;
    justify-content: flex-start;
    position: relative;
   opacity: 0;
  transform: translateY(160%);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}