.product-thumb {
  position: relative;
overflow: hidden;

&::before {
  content: '';

  position: absolute; 
  width: 294px;
  height: 294px;
  background-color:  rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  
  @media screen and (min-width: 480px) {
    width: 450px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   @media screen and (min-width: 768px) and (max-width:1199px) {
    width: 354px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }

  @media screen and (min-width: 1200px) {
  width: 370px;
   
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.product-actions {
  
  
  display: flex;
  margin: 0;
  position: absolute;
  @media screen and (min-width: 480px) and (max-width:767px) {
    width: 402px;
    top: 63px;
    left: 24px;
   }
   @media screen and (min-width: 768px) and (max-width:1199px) {
    width: 354px;
    top: 30px;
    left: 24px;
}
@media screen and (min-width: 1200px) {
  width: 370px;
  top: 64px;
  left: 24px;
   
}
  
}
.examples-list__item {
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover  {
      .product-thumb::before {
          transform: translateY(0); 
          opacity: 1;
      }
     
          }
  &:hover {
      .product-actions__paragraph {
          opacity: 1;
          transform: translateY(0);
      }
  }
}
.product-actions__paragraph {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55; 

  max-height: 168px;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  position: relative;
  opacity: 0;
  transform: translateY(160%);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width: 480px) {
 max-width: 400px;
     
     
 }
  @media screen and (min-width: 768px) {
  width: 306px;
  
}
  @media screen and (min-width: 1200px) {
  width: 322px;
 
   
}
}