.team {
    background-color:#F5F4FA ;
    @media screen and (min-width: 480px)  {
        padding: 60px 0;
         
     }
}
.team__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    @media screen and (min-width: 480px)  {
        margin-bottom: 30px;
         
     }
}
.team-list__img {
    display: block;
    margin-bottom: 30px;
    @media screen and (min-width: 480px)  {
       width: 450px;
       height: 460px;
         
     }
}
.team-list__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    @media screen and (min-width: 480px)  {
        margin-bottom: 30px;
        width: 450px;
          &:last-child {
            margin-bottom: 0;
          }
      }
}
.team-list__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-list__paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.team-link {
    display: flex;
    justify-content: center;
    
}
.team-link__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.team-link__item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.team-link__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover, &:focus, &:active {
        background-color: $color-hover;
        .team-link__icon {
            fill: #fff;
        }
    }
}