.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
   
    &--main-nav {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 320px) {
        width: 320px;
        
    }
    
    @media screen and (min-width: 480px) {
        width: 480px;
        
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        
    }
}


footer {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin-top: 0;
}
p {
    margin-top: 0;
}
.main-nav {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
body {
    margin: 0;
    color: $color-main;
    
}
li:focus,
input:focus,
a:focus,
button:focus,
textarea:focus {
    outline: none;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}