.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
   
    &--main-nav {
        display: flex;
        justify-content: space-between;
    }
}

* {
    box-sizing: inherit;

}
footer {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin-top: 0;
}
p {
    margin-top: 0;
}
.main-nav {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
body {
    margin: 0;
    color: $color-main;
}
li:focus,
input:focus,
a:focus,
button:focus,
textarea:focus {
    outline: none;
}